{% extends "layout.html" %}
{% block body %}

<div><a href="/">&lt; Home</a></div>
<div><b>{{ workout.name }} Workout</b> - <a href="/editset/{{ workout.id }}">edit set</a> </div>

    {% if current_exercises|length > 0 %}
        <ul>
            {% for item in current_exercises %}
            <li>{{ item.exercise }} {{ item.reps }} 
                {% if item.completed %}
                    <span style="background: green;">
                        <a href="/incomplete/{{ workout.id }}/{{ item.id }}" style="color: white;">done!</a>
                    </span>
                {% else %}
                    <span style="background: red;">
                        <a href="/complete/{{ workout.id }}/{{ item.id }}" style="color: white;">incomplete :(</a>
                    </span>
                {% endif %}
            {% endfor %}
        </ul>

    {% else %}
        <p>No exercises defined yet!</p>

    {% endif %}

{% endblock body %}